body { padding: 0; margin: 0; overflow: hidden; }
#unity-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
#unity-container.unity-desktop { left: 0; top: 0; transform: none; }
#unity-container.unity-mobile { width: 100%; height: 100%; }
#unity-canvas { background: #231F20; width: 100%; height: 100%; }
.unity-mobile #unity-canvas { width: 100%; height: 100%; }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { display: none !important; }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { display: none !important; }
.unity-mobile #unity-footer { display: none !important; }
#unity-webgl-logo { display: none !important; }
#unity-build-title { display: none !important; }
#unity-fullscreen-button { display: none !important; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
